{% extends 'base.html' %}

{% block base %}

      <div class="container md-5">
        <canvas id="myCanvas" width="600" height="500"></canvas>
        <button id="clear" type="button" class="btn btn-info">Clear</button>
        <button id="load" type="button" class="btn btn-info">Clear</button>
        <button id="blink" type="button" class="btn btn-info">Blink</button>
      </div>


<div class="mt-5 row">
  <div class="col-md-4">
  <div class="mt-5 card" style="width: 20rem;">
  <div class="card-header">
    <h5 class="text-danger card-title">Welcome to Game Rater!</h5>
      </div>
        <ul class="list-group list-group-flush">
          {% if user.is_authenticated %}
          <li class="list-group-item">
            <h5 class="text-danger">Hello {{user}}</h5>
          </li>
          {% endif %}
          <li class="text-danger list-group-item">Games are ordered by votes</li>
          <li class="text-danger list-group-item">Link to Amazon.com included</li>
          <li class="text-danger list-group-item">Which game will become popular?</li>
        </ul>
    </div>
  </div>
  <div class="col-md-8">
    {%if games%}
    {% for game in games%}
    <div class="mt-5 card">
      <div class="text-danger card-header">
        Added by {{game.game_rater}} on: {{game.prettify_datetime}}
      </div>
      <div class="card-body">
        <h5 class="text-danger card-title">{{game.title}}</h5>
        <p class="text-danger card-text">{{game.description}}</p>
        <a href="{{game.amazon_url}}" class="amazon btn btn-warning">See on Amazon.com</a>

        <a href="#" class="btn btn-md btn-success">
        <i class="fas fa-caret-up"></i> 1 Upvotes</a>
        {# We'll need to set up our upvotes requirement soon =) #}

      </div>
    </div>
    {% endfor %}
    {%else%}
    <h2 class="mt-5 text-danger text-center">Sorry, there are no games to display</h2>
    {%endif%}
  </div>
</div>



{% endblock%}
