{% extends 'base.html' %}

{% block base %}
{% load staticfiles %}

<div class="row">
{# <img id="guys" src="/media/guys.gif" alt="nothing now"> #}
<img id="guys" src="{% static 'images/guys.gif' %}" alt="nothing now">
</div>

<div class="row game-display">

  <div class="col-md-4">
  <div class="card" style="width: 20rem;">
    <div class="card-header">
      <h6 class="welcome">Welcome to Hot Games!</h6>
    </div>

        <ul class="list-group list-group-flush">
          {% if user.is_authenticated %}
          <li class="list-group-item"><h6 class="text-info">Hello {{user.first_name}} !</h6></li>
          <li class="list-group-item"><a href="{% url 'profile' user.id %}"><h6 class="text-info">Profile</h6></a>
          </li>
          {% endif %}
        </ul>
    </div>
  </div>

  <div class="col-md-8">
    {%if games%}
    {% for game in games%}
    <div class=" card">

      <div class="text-info card-header">
        Added by {{game.game_rater}} on: {{game.prettify_datetime}}
      </div>
        <img id="game_image" src="/media/{{game.image}}" height="300" alt="nothing now">

      <div class="card-body">
        <h5 class="text-success card-title">{{game.title}} by {{game.studio}}</h5>
        <p class="text-info card-text">{{game.description}}</p>
        <a href="{{game.amazon_url}}" class="amazon btn btn-warning">See on Amazon.com</a>

        <a href="javascript:{document.getElementById('vote-{{game.id}}').submit()}" class="btn btn-md btn-success">
        <i class="fas fa-caret-up"></i> {{game.votes}} Likes</a>
        <form id="vote-{{game.id}}"action="{% url 'upvote' game.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" />
        </form>
      </div>
    </div>
    {% endfor %}
    {%else%}
    <h2 class="mt-5 text-info text-center">Sorry, there are no games to display</h2>
    {%endif%}
  </div>
</div>

{% endblock%}
