{% extends 'base.html' %}

{% block base %}
{% load staticfiles %}

<div class="row">
<img id="guys" src="{% static 'images/guys.gif' %}" alt="nothing now">
</div>

{% if ps_games%}
<h2 class="mb-5">Top PS4 Games by average Rating</h2>
{% for game in ps_games %}
<div class="card card-top">
  <a class="card-header" href="{{game.websites.1.url}}">{{game.name}}</a>
  <div class="card-body">
    {{game.summary}}
  </div>
</div>
<div class="mb-5">
  <iframe width="360" height="250" src="https://www.youtube.com/embed/{{game.videos.0.video_id}}"></iframe>
  <iframe width="360" height="250" src="https://www.youtube.com/embed/{{game.videos.1.video_id}}"></iframe>
  <iframe width="360" height="250" src="https://www.youtube.com/embed/{{game.videos.2.video_id}}"></iframe>
  <img class="screenshot" src="//images.igdb.com/igdb/image/upload/t_screenshot_big/{{game.screenshots.0.cloudinary_id}}.jpg" alt="screenshot">
  <img class="screenshot" src="//images.igdb.com/igdb/image/upload/t_screenshot_big/{{game.screenshots.1.cloudinary_id}}.jpg" alt="screenshot">
  <img class="screenshot" src="//images.igdb.com/igdb/image/upload/t_screenshot_big/{{game.screenshots.2.cloudinary_id}}.jpg" alt="screenshot">
</div>
{%endfor%}
{%endif%}




{% endblock%}
