#guys {
  height: 100px;
}

.game-display {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

.welcome {
  font-family: 'Encode Sans Condensed', sans-serif;
  color: black;
}


/* canvas {
  margin-top: 20px;
  justify-content: center;
  border: 1px solid black;
} */
