nav a:hover {
  color: #b6bdc6 !important;
}

.welcome {
  font-family: 'Encode Sans Condensed', sans-serif;
  color: black;
}


/* canvas {
  margin-top: 20px;
  justify-content: center;
  border: 1px solid black;
} */
