
.navbar-header {
  padding-left: 150px !important;
}


.welcome {
  font-family: 'Encode Sans Condensed', sans-serif;
  color: black;
}


/* canvas {
  margin-top: 20px;
  justify-content: center;
  border: 1px solid black;
} */
